<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<div class="page-wrapper chiller-theme toggled">
		<a id="show-sidebar" class="btn btn-sm btn-dark" href="#"> <i
			class="fas fa-bars"></i>
		</a>

		<header th:replace="layout/layout :: header"></header>
		<main class="page-content">
		
			<div class="container">
		<div  class="alert alert-success" th:if="${success != null}" th:text="${success}"></div>
		<div  class="alert alert-danger" th:if="${error != null}" th:text="${error}"></div>
		<div  class="alert alert-warning" th:if="${warning != null}" th:text="${warning}"></div>
		<div  class="alert alert-info" th:if="${info != null}" th:text="${info}"></div>
		</div>
		
			<div class="container-fluid">

				<div class="container">
					<h1 th:text="${titulo}"
						class="text-primary border border-success border-top-0 border-left-0 border-right-0"></h1>
					<div th:object="${asignatura}" th:remove="tag">
						<ul th:if="${#fields.hasErrors('*')}" class="alert alert-danger">
							<li th:each="err: ${#fields.errors('*')}" th:text="${err}"></li>
						</ul>
					</div>
				</div>
				<form th:action="@{/crearAsignatura}" th:object="${asignatura}" method="post"
					enctype="multipart/form-data">

					<table>
						
						<tr>
							<div>
								<td><label for="nombre">Nombre :</label></td>
								<td>
									<div>
										<input type="text" id="nombre" th:field="*{nombre}"
											class="form-control"
											th:errorclass="'form-control alert-danger'"
											>
										
										<small class="form-text text-danger"
											th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></small>
									</div>
								</td>
							</div>
							
							<div>
								<td><label for="area">Area :</label></td>
								<td>
									<div>
										<select id="area" th:field="*{area}"
											class="form-control"
											th:errorclass="'form-control alert-danger'"
											style="text-transform: uppercase;"
											onkeyup="javascript:this.value=this.value.toUpperCase();" >
											
											<option value="0">Selecciona un area</option>
											<option th:each="misareas : ${areas}"
                           					 th:value="${misareas.id}"
                           					 th:utext="${misareas.nombre}" ></option>
											
											</select>
										<small class="form-text text-danger"
											th:if="${#fields.hasErrors('area')}" th:errors="area"></small>
									</div>
								</td>
							</div>

						</tr>




						
						<tr>
							<div>
								<td>
									<div>
										<input  id="guardarASignatura"type="submit" value="Guardar" disabled="false">

									</div>
								</td>
							</div>
						</tr>


					</table>

				</form>
				
				<div class="container" id="mitabla">
		<h3 class="text-primary border border-success border-top-0 border-left-0 border-right-0" th:text="${titulotabla}"></h3>
		<table class="table table-striped" >
			<thead>
				<tr>
					<th>Identificador</th>
					<th> Area</th>
					<th> Asignatura</th>
					
				</tr>

			</thead>
			<tbody>
				<tr th:each="miasignatura:${asignaturas}" >
					<td th:text="${miasignatura.id}"></td>
					<td th:text="${miasignatura.area.nombre}"></td>
					<td th:text="${miasignatura.nombre}"></td>
					
					<td> <a class="btn btn-danger btn-xs" th:href="@{/eliminarAsignatura/} + ${miasignatura.id}" 
					th:text= "'Eliminar'" 
					onclick="return confirm('Estas seguro que deseas eliminar esta asignatura??');"></a></td>
					
					
				</tr>

			</tbody>

		</table>
		<nav th:replace="layout/paginator-nav :: paginator" ></nav>
	</div>
				
			</div>

		</main>

	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>